<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/9a3cae2f-928e-49a0-8f3b-2a538969615a/resourceGroups/BeyondTheGym-WebApp/providers/Microsoft.Web/sites/BeyondTheGym-WebApp</ResourceId>
    <ResourceGroup>BeyondTheGym-WebApp</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://beyondthegym-webapp.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://beyondthegym-webapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$BeyondTheGym-WebApp</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>